<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Clinic Index</title>

    <link rel="stylesheet" type="text/css" th:href="@{/app.css}"/>
</head>
<body>
<div class="main-block">
    <div class="nav-bar">
        <ul>
            <li><a th:href="@{'/'}">Home</a></li>
            <li class="nav-active"><a th:href="@{'/visits'}">Visits</a></li>
            <li><a th:href="@{'/vets'}">Vets</a></li>
            <li><a th:href="@{'/owners'}">Owners</a></li>
        </ul>
    </div>
    <div>
        <h2 th:text="${'Visit'}">Visit details</h2>
    </div>
    <div class="row">
        <div class="column">

        </div>
    </div>
</div>
</body>
</html>