<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- In case, we have Ajax calls, we can obtain CSRF from here :) -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Pet Clinic Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles/app.css}"/>
</head>
<body>
<div class="main-block">
    <div class="nav-bar">
        <ul>
            <li class="nav-active"><a th:href="@{'/'}">Home</a></li>
            <li><a th:href="@{'/visits'}">Visits</a></li>
            <li><a th:href="@{'/vets'}">Vets</a></li>
            <li><a th:href="@{'/owners'}">Owners</a></li>
            <li style="float:right"><a th:href="@{'/logout'}">Logout</a></li>
        </ul>
    </div>
    <div>
        <h2 th:text="${'Admin Console'}">Admin Console</h2>
    </div>
    <div>
        <h4>
            This page is protected. Only logged in user has access.
        </h4>
    </div>
    <div>
        <div>Who am I: <span th:text="${currentUser}"></span></div>
        <div>Roles: <span th:text="${roles}"></span></div>
    </div>
    <div>
        <div class="nav-item">
            <a th:href="@{'/persons'}">Search person</a>
        </div>
    </div>
    <div style="text-align: right">
        <img src="../static/assets/main-logo.jpg" th:src="@{/assets/main-logo.jpg}" width="300" height="240"/>
    </div>
</div>
</body>
</html>